In [49]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import numpy as np
from scipy import stats
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import OneHotEncoder
import statsmodels.api as sm
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor

In [2]:
##1. In this final lab, we will model our data. Import sklearn train_test_split and separate the data.

In [9]:
X=pd.read_csv("numerical_onehot.csv")
y=pd.read_csv("Y.csv")
X.drop('Unnamed: 0', axis=1, inplace=True)

In [10]:
X.head(3)

,0,1,2,3,4,5,6,7,8,9,...,99,100,101,102,103,104,105,106,107,108
0,69.0,32.0,5.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,94.0,13.0,42.0,0.0,8.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,108.0,18.0,38.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [11]:
y.head(3)

   total_claim_amount
0                 384
1                1131
2                 566

In [6]:
#2. Try a simple linear regression with all the data to see whether we are getting good results.

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.4,random_state=100)

In [8]:
lm=linear_model.LinearRegression()
model=lm.fit(X_train,y_train)
predictions=lm.predict(X_test)
r2_score(y_test,predictions)

0.7672114436691372

In [ ]:
# 3 - Great! Now define a function that takes a list of models and train (and tests) them so we can try a lot of them without repeating code.

In [14]:
DataModels = [X,y]
DataModels

[          0     1     2    3    4    5    6    7    8    9  ...   99  100  \
 0      69.0  32.0   5.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  ...  1.0  0.0
 1      94.0  13.0  42.0  0.0  8.0  1.0  0.0  0.0  0.0  0.0  ...  1.0  0.0
 2     108.0  18.0  38.0  0.0  2.0  0.0  0.0  1.0  0.0  0.0  ...  1.0  0.0
 3     106.0  18.0  65.0  0.0  7.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  0.0
 4      73.0  12.0  44.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  ...  1.0  0.0
 ...     ...   ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 9129   73.0  18.0  89.0  0.0  2.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  0.0
 9130   79.0  14.0  28.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  1.0
 9131   85.0   9.0  37.0  3.0  2.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  1.0
 9132   96.0  34.0   3.0  0.0  3.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  1.0
 9133   77.0   3.0  90.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  0.0

       101  102  103  104  105  106  107  108
 0     0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
 1     0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
 2     0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
 3     1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
 4     0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
 ...   ...  ...  ...  ...  ...  ...  ...  ...
 9129  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
 9130  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
 9131  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
 9132  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
 9133  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

 [9134 rows x 109 columns],
       total_claim_amount
 0                    384
 1                   1131
 2                    566
 3                    529
 4                    138
 ...                  ...
 9129                 198
 9130                 379
 9131                 790
 9132                 691
 9133                 369

 [9134 rows x 1 columns]]

In [27]:
def train_test(X,y):
    
    X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.4,random_state=100)
    lm=linear_model.LinearRegression()
    model=lm.fit(X_train,y_train)
    predictions=lm.predict(X_test)

    return r2_score(y_test,predictions)

In [29]:
train_test(X,y)

0.7672114436691372

In [21]:
# 4. Use the function to check LinearRegressor and KNeighborsRegressor.

In [46]:
def train_test(X, y, n_neighbors_Num):
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=100)
    lm = LinearRegression()
    lm.fit(X_train, y_train)
    lm_predictions = lm.predict(X_test)

    kmodel = KNeighborsRegressor(n_neighbors=int(n_neighbors_Num))
    kmodel.fit(X_train, y_train)
    knn_predictions = kmodel.predict(X_test)
    
    return "R2 Score is " + str(r2_score(y_test, lm_predictions)) +" and "+ "KNeighborsRegressor is " + str(kmodel.score(X_test, y_test))

In [48]:
train_test(X,y,6)

'R2 Score is 0.7672114436691372 and KNeighborsRegressor is 0.3235186826415971'

In [ ]:
#5. You can check also the MLPRegressor for this task!

In [50]:
def train_test(X, y, n_neighbors_Num, hidden_layer_sizes=(100,)):
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=100)
    
    lm = LinearRegression()
    lm.fit(X_train, y_train)
    lm_predictions = lm.predict(X_test)

    kmodel = KNeighborsRegressor(n_neighbors=int(n_neighbors_Num))
    kmodel.fit(X_train, y_train)
    knn_predictions = kmodel.predict(X_test)

    mlp = MLPRegressor(hidden_layer_sizes=hidden_layer_sizes, max_iter=1000)
    mlp.fit(X_train, y_train)
    mlp_predictions = mlp.predict(X_test)
    
    return "R2 Score for Linear Regression: " + str(r2_score(y_test, lm_predictions)) + \
           "\nR2 Score for KNeighborsRegressor: " + str(kmodel.score(X_test, y_test)) + \
           "\nR2 Score for MLPRegressor: " + str(r2_score(y_test, mlp_predictions))